body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p {
  margin: 33px;
}

a {
  color: #000
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

.index-page p {
  margin: 0;
}

.index-page input#book_title {
  margin-bottom: 10px;
}

.index-page textarea#book_body {
  margin-bottom: 10px;
}

.index-page input {
  display: block;
}

a:hover {
  background-color: #000;
  color: #fff;
}

a:visited {
  color: #666;
}

a:visited:hover {
  background-color: #000;
  color: #fff;
}

.edit-page p {
  margin: 0 0 10px 0 ;
}

.flash-message {
  color: #008000;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 0;
  margin-bottom: 20px;
}

#error_explanation h2 {
  background-color: red;
  color: white;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px;
}

#error_explanation ul {
  margin: 10px 20px;
}

#error_explanation li {
  list-style: square;
}

.field_with_errors input,
.field_with_errors textarea {
  border: 2px solid red;
}


/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */